name: Publish v3 module to the JFROG Artifactory
on:
  push:
    tags-ignore:
      - '*.*'
    paths-ignore:
      - "*.md"
    branches:
      - v3-release/*

jobs:
  build-and-deploy-v3:
    uses: ./.github/workflows/shared-build-and-deploy.yml
    with:
      ref: ${{ github.ref_name }}
      server-id: central
      profile: jfrog
      tag: 'internal'
      module: 'v3'
    secrets:
      server-username: ${{ secrets.ARTIFACTORY_USERNAME }}
      server-password: ${{ secrets.ARTIFACTORY_PASSWORD }}
      gpg-key: ${{ secrets.JFROG_GPG_KEY }}
      gpg-passphrase: ${{ secrets.JFROG_GPG_PASSPHRASE }}
      skyflow-credentials: ${{ secrets.SKYFLOW_CREDENTIALS }} >> .env
      test-expired-token: ${{ secrets.TEST_EXPIRED_TOKEN }} >> .env
      test-reusable-token: ${{ secrets.TEST_REUSABLE_TOKEN }} >> .env
