name: main

on:
  push:
    branches:
      - main


jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '11'

      - name: create-json
        id: create-json
        uses: jsdaniell/create-json@1.1.2
        with:
          name: "credentials.json"
          json: ${{ secrets.TEST_CREDENTIALS_FILE_STRING }}

      - name: Build & Run tests with Maven
        run: mvn -B package -f pom.xml -Dmaven.javadoc.skip=true

      - name: Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          token: ${{ secrets.CODECOV_REPO_UPLOAD_TOKEN }}
          files: target/site/jacoco/jacoco.xml
          name: codecov-skyflow-java
          verbose: true
